<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>visualwebsiteoptimizer</name>
	<displayName><![CDATA[visualwebsiteoptimizer]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[VWO CRO Platform VWO CRO Platform VWO CRO Platform VWO CRO Platform VWO CRO Platform]]></description>
	<author><![CDATA[VWO]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
